# this is comment 
# Note : Do not use '#' char in any configuration 

# devices to be used 
DEVICELIST=sda1 sdb1 sdc1 sde1

# zfs source dir
BUILDROOT=/home/kqinfo/ZFS_GA/

# test operation logs
LOGDIR=/home/kqinfo/KQTest/logdir/

# dmesg flag    
DMESG=False

# test dir
KQTest=/home/kqinfo/KQTest/

# Following options are only used for Stress runs
# 

# number of io threads to start in parallel
THREADS=10

# The number of scripts to run in each config
# set  this to non-zero only if you are in a hurry.
# it is best to run each script
RUN_ONLY=0

